{% extends 'base.html' %}

{% block content %}
    <div class="container" id="content_new">
        <h3>New scurve</h3>
        <form>
            <div class="input-group">
            <div class="row">
                <div class="col">
                    <input type="text" name="block" class="form-control" id="scurve_block" placeholder="Block (ge21 or me0)">
                </div>
                <div class="col">
                    <input type="text" name="oh" class="form-control" id="scurve_oh" placeholder="OptoHybrid number">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" id="button_start">Start</button>
                </div>
            </div>
            </div>
        </form>
    </div>

    <div align="center" class="container" id="content_scurve">
        <img id="scurve_img" class="img-fluid" src="{{ url_for('static', filename='results/summary.png') }}" />
    </div>
{% endblock %}
