{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Instant scurve on OH {{ oh }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script>
    window.onload = function() {
        var image = document.getElementById("scurve_img");
        //function updateImage() {
        //    // wait until the analysis thread is not writing the image:
        //    var isSaving = true;
        //    while (isSaving) {
        //        setTimeout(function() {
        //            $.getJSON("/api?get=saving", function(data) {
        //                console.log("Saving: " + data);
        //                isSaving = data["value"];
        //            });
        //        }, 1000);
        //    }
        //    // update the image:
        //    image.src = image.src.split("?")[0] + "?" + new Date().getTime();
        //}
        //setInterval(updateImage, 1000);
        var scurveImage = $("#scurve_img");
        var scurveSrcBase = scurveImage.attr("src").split("?")[0];
        var isSaving = true;
        console.log("Original src: " + scurveSrcBase);
        setInterval(function() {
            $.getJSON("/api?get=saving", function(data) {
                console.log("Saving status: " + data["value"]);
                isSaving = data["value"];
            });
            if (!isSaving) scurveImage.attr("src", scurveSrcBase+"?"+new Date().getTime());
        }, 1000);
    }
    </script>
    
    <div align="center">
        <img id="scurve_img" class="img-fluid" style="width:60%" src="{{ url_for('static', filename='results/Summary_OH'+oh+'.png') }}" />
    </div>
{% endblock %}
